<div class="">

    <div class="">
      <div class="">
        <div class="">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Component</h5>
              <hr>
              <p class="card-text">Example of </p>
            </div>
          </div>
          <hr>
        </div>
  
        <div *ngIf="!smartphoneSelected">
          <div class="alert alert-dark" role="alert">
            Click on <button type="button" class="btn btn-dark btn-sm">n° x</button>
            <br>to select the smartphone n° x
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Smartphone</h5>
              <h6 class="card-subtitle mb-2 text-muted">Not Selected</h6>
            </div>
          </div>
        </div>
  
        <div *ngIf="smartphoneSelected">
          <div class="alert alert-info" role="alert">
            Click on <button type="button" class="btn btn-info btn-sm">Reset</button>
            <br>to unselect the smartphone
          </div>
          <div class="card text-center">
            <h5 class="card-title">Smartphone</h5>
            <div class="">
              <div class="">
                <img src="assets/params/images/smartphones/{{ smartphoneSelected.name }}.jpg" class="card-img"
                  alt="name">
              </div>
              <div class="">
                <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-dark font-weight-bold">{{ smartphoneSelected.name }}</h6>
                  <h6 class="card-subtitle mb-2 text-dark">{{ smartphoneSelected.model }}</h6>
                  <h6 class="card-subtitle mb-2 text-dark">{{ smartphoneSelected.prize }}</h6>
                  <h6 class="card-subtitle mb-2 text-dark">{{ smartphoneSelected.year }}</h6>
                  <button type="button" class="btn btn-info btn-sm" (click)="onReset()">Reset</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="">
      <div class="row">
        <div *ngFor="let smartphone of smartphones; let i=index"
          class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 px-2 mb-1">
          <app-smartphone [smartphone]="smartphone" [index]="i + 1" (selected)="onSelected($event)"></app-smartphone>
        </div>
      </div>
    </div>
  
  </div>