<div class="">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Prototype</h5>
      <hr>
      <p class="card-text">Smooth use of reactive forms and two-way data binding in Angular</p>
    </div>
  </div>
<div class="card">
  <br>
  <div class="card-body">
    <form>
      <div class="form-row">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" value="Avengers: Endgame">
        </div>
        <div class="form-group">
          <label for="releaseDate">Release Date</label>
          <input type="text" class="form-control" id="releaseDate" value="April 24, 2019">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="budget">Budget</label>
          <input type="text" class="form-control" id="budget" value="$356,000,000">
        </div>
        <div class="form-group">
          <label for="domestic">Domestic</label>
          <input type="text" class="form-control" id="domestic" value="$858,373,000">
        </div>
        <div class="form-group">
          <label for="worlwide">Worlwide</label>
          <input type="text" class="form-control" id="worlwide" value="$2,797,800,564">
        </div>
        <div class="form-group">
          <label for="international">International</label>
          <input type="text" class="form-control" id="international" value="$1,939,427,564">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="summary">Summary</label>
          <textarea class="form-control" id="summary" rows="4"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Genres</label>
          <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>Drama</option>
            <option>Comedy</option>
            <option>Thriller</option>
            <option>Documentary</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <br>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="franchise">
          <label class="form-check-label" for="franchise">
            Franchise
          </label>
        </div>
      </div>
      <div class="form-row">
        <button type="button" class="btn btn-dark mr-2">Create</button>
        <button type="button" class="btn btn-dark mr-2">Save</button>
        <button type="button" class="btn btn-dark mr-2">Copy</button>
        <button type="button" class="btn btn-dark mr-2">Delete</button>
      </div>
    </form>
  </div>
</div>