<header>

  <nav class="navbar navbar-expand-md fixed-top bd-navbar" style="background-color: #212121;">
    <div class="container-fluid">
      <a href="https://github.com/patrickkendall" class="d-none d-sm-block">
      </a>
      <a class="navbar-brand" routerLink="/">
        <span class="name-title"><i class="fab fa-angular mr-1"></i></span>
      </a>
      <button class="navbar-toggler button-z button-z-align" type="button" data-bs-toggle="collapse" data-bs-target="#bd-docs-nav"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><span class="menu-title">MENU</span>
      </button>
      <div class="" id="navbarsExampleDefault">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" routerLink="/">
              <i class="fas fa-home mr-1"></i>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" routerLink="/about">
              <i class="far fa-question-circle mr-1"></i>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" routerLink="/contact">
              <i class="fas fa-envelope mr-1"></i>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" routerLink="/signin">
              <i class="fas fa-user mr-1"></i>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="https://github.com/patrickkendall">
              <i class="fab fa-github mr-1"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


</header>

<main class="nav-box">
  <div class="container-xxl bd-layout">
    <div class="bd-sidebar">
      <nav class="collapse bd-links pt-4 button-z" id="bd-docs-nav">
        <ul class="list-unstyled">
          <li class="">
            <a class="align-items-center" data-bs-toggle="collapse" href="#patrick-collapse"
              role="button" aria-expanded="true" aria-current="true">
              Application
            </a>
            <ul class="list-unstyled font-weight-normal collapse" id="patrick-collapse">
              <li><a (click)="onSelectMenu('about')" class="d-inline-flex align-items-center rounded active"
                  aria-current="page">About</a>
              </li>
              <li><a (click)="onSelectMenu('contact')" class="d-inline-flex align-items-center rounded">Contact</a></li>
            </ul>
          </li>
          <li *ngFor="let item of items" class="active">
            <a class="align-items-center rounded" data-bs-toggle="collapse" href="#{{ item.link }}-collapse"
              role="button" aria-expanded="true" aria-current="true">
              {{ item.name }}
            </a>
            <ul class="list-unstyled font-weight-normal collapse" id="{{ item.link }}-collapse">
              <li *ngFor="let element of item.elements "><a (click)="onSelectMenu(element.link)"
                  class="d-inline-flex align-items-center rounded">{{ element.name }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
