<div class="row">
  <div class="col">
    <div class="d-flex">
      <div class="p-2">
        <form class="form-inline">
          <input #edit aria-label="Searchfield" type="text" name="searchField" [ngModel]="searchField"
            class="form-control form-control-sm search-input" id="searchField" placeholder="{{placeholder}}"
            style="max-width: 200px;">
          <button aria-label="Search" (click)="searching()" type="submit" class="btn btn-outline-dark btn-sm mb-2 search-button"><i
              class="fas fa-search"></i></button>
        </form>
      </div>
      <div class="p-2">
        <div class="d-none d-md-inline-block d-lg-inline-block d-xl-inline-block pt-1 ml-2">
          <b>
            <span class="text-secondary align-count">{{ itemsCount }} {{ results }}</span>
          </b>
        </div>
      </div>
    </div>
  </div>
</div>