<div class="card">
  <div class="">
    <div>
      <img src="assets/params/images/smartphones/{{ smartphone.name }}.jpg" class="card-img"
        alt="{{ smartphone.name }}">
    </div>
    <div class="">
      <div class="card-body">
        <button type="button" class="btn btn-dark btn-sm" (click)="select(smartphone)">n° {{ index }}</button>
        <h6 class="card-subtitle mb-2 text-dark font-weight-bold pt-4">{{ smartphone.name }}</h6>
        <h6 class="card-subtitle mb-2 text-dark">{{ smartphone.model }}</h6>
        <h6 class="card-subtitle mb-2 text-dark">{{ smartphone.prize }}</h6>
        <h6 class="card-subtitle mb-2 text-dark">{{ smartphone.year }}</h6>
      </div>
    </div>
  </div>
</div>