<div class="">
    <div class="">
      <div class="">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Leaflet</h5>
            <hr>
            <p class="card-text">Mapping technology for mobile</p>
          </div>
        </div>
      </div>
    </div>
  <br>
    <div>
      <div>
  
        <div class="container">
          <div style="height: 400px;" leaflet [leafletOptions]="options">
          </div>
        </div>
  
      </div>
    </div>
  
  
  </div>