<div class="row whole cascade  pt-1 mb-2">
  <div class="center">
  <h1>
    <i class="fas fa-male"></i>
    About
  </h1>
  </div>
  <br>
  <hr>
    <div class="title-desc">
      <b>This is an Angular 11 CRUD Demo </b><br>
      <p>
        <br>
        The original code is from
        <a href="https://github.com/ganatan/angular11-app" class="text-info">https://github.com/ganatan/angular11-app</a>.
        This application is designed extremely well I wanted to take the existing functionality and bring it to its full potential.
        I have worked with dashboards, data models, data and server-based backends and web front-ends for a while and have been taking
        these skills and applying them primarily in the JavaScript world on both the front and backend. This applications goes about 
        using well-known techniques for front-end design as well as for generating dynamic components using the template driven aspects
        of Angular to generate front-end components based on data recieved from a back-end. 
      </p>
    </div>
  
    <div class="">

    </div>
  </div>