<div>
  <div>
    <br>
    <div class="text-dark card padding-5">
      <h1>      
        Portfolio
      </h1>
    </div>
  </div> 
</div>
<div class="">
  <div class="">
  </div>
</div>
<div class="row pt-2 pb-4">
  <div class="col-12 col-sm-6" *ngFor="let item of features">
    <div class="card card-cascade">
      <div class="card-img">
        <strong>
          {{item.type }}
        </strong>
        <a routerLink="/{{ item.link }}">
          <img class="img-fluid card-img-top image-cont" src="./assets/params/images/demo/{{ item.image }}" alt="Card image cap">
        </a>
      </div>
      <div class="card-body pt-0">
        <h4 class="h6 card-title">
          <span style="font-size: 14px;">
            <p>
              {{ item.description }}
            </p>
          </span>
        </h4>
      </div>
    </div>
  </div>
</div>

