<div class="">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Chart.js</h5>
      <hr>
      <p class="card-text">Chart.js is open source library for data visualizations using JavaScript. Chart.js allows one to easily create dynamic Chart.js based on JSON schemas that generate a data visualization on an html canvas. It is possible to make these visualizations dynamic using JavaScript, the ability to reload the chart, callbacks, theme and styling and many other features provided in there very good documentation, https://www.chartjs.org/ here. You can make the charts dynamic as shown in my Argilach, TensorFlow websites and the Toxic-Class TensorFlow page on this app.</p>
    </div>
    <hr>
  </div>
  <br>
    <div class="row">
      <div class="container-fluid">
        <div class="card p-4">
          <h5 class="card-title">Chart.js Example</h5>
          <canvas baseChart [datasets]="datasets" [labels]="labels" [options]="options" [chartType]="type">
          </canvas>
          <hr>
        </div>
      </div>
    </div>
  </div>